#root {
  margin: 0;
  text-align: center;
  padding:0;
  width:100%;
  background-color: #EFEFEF;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: #83A0B6;
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-button {
  background-color: transparent;
  color:white;
}

.landing-page-logo-container {
  height: 250px;
}

.landing-page-logo {
  height: 100%;
}

.title {
  font-weight: bold;
  background: linear-gradient(90deg, white, #83A0B6);
  -webkit-background-clip: text; /* Clip the gradient to the text */
  -webkit-text-fill-color: transparent;
}

.typewriter {
  display: inline-block; 
  overflow: hidden; 
  white-space: nowrap; 
  font-family: "Courier New", Courier, monospace; 
  font-size: 1.5rem; 
  border-right: 2px solid #83A0B6; 
  animation: typing 3s steps(var(--characters), end), blink 0.5s step-end infinite;
  width: auto; 
  max-width: calc(var(--characters) * 1ch); 
}

/* Typing effect animation */
@keyframes typing {
  from {
    width: 0; 
  }
  to {
    width: calc(var(--characters) * 1ch); 
  }
}

/* Blinking cursor effect */
@keyframes blink {
  50% {
    border-color: transparent; 
  }
}

.get-started-component-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 0;
}


.get-started-component {
  background-color: #83A0B6;
  border-radius: 20px;
  height: 300px;
  width: 500px;
}

.header-subtitle {
  color:white;
}

.upload-component-wrapper {
  display:flex;
  justify-content: center;
}
.upload-component {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 150px;
  width: 400px;
  display:flex;
  background-color: #EFEFEF;
  align-items: center;
  padding-top: 20px;
}

.image-button {
  width: 300px; 
  height: 65px; 
  padding: 0; 
  border: none; 
  background: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-button img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


